<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/Content/mememory.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mememory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Filter <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="show-all" href="#">Show All</a></li>
                            <li><a id="show-cat" href="#">Cat</a></li>
                            <li><a id="show-ron" href="#">Ron Swanson</a></li>
                            <li><a id="show-animated" href="#">Animated</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a id="uploadLink" href="#upload" data-toggle="modal">Upload</a></li>
                </ul>
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Hovrador ASP.NET Application</p>
        </footer>
    </div>
    <div class="modal fade" id="upload" role="dialog">
        <div class=" modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Upload Image</h4>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <p class="validateTips">All form fields are required.</p>
                        <form id="upload-form" role="form">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" value="Cat">
                            </div>
                            <div class="form-group">
                                <label for="url">URL:</label>
                                <input type="url" class="form-control" id="url" value="http://i3.kym-cdn.com/entries/icons/original/000/007/263/photo_cat2.jpg">
                            </div>
                            <div class="form-group">
                                <label for="discription">Discription:</label>
                                <input type="text" class="form-control" id="description" value="Cat">
                            </div>
                            <div class="form-group">
                                <label for="genre">Genre:</label>
                                <select class="form-control" id="genre">
                                    <option>Cat</option>
                                    <option>Ron</option>
                                    <option>Animated</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" id="upload-submit">Save Changes</a>
                </div>
            </div>
        </div>        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#show-all").click(function () {
            $(".Ron").show();
            $(".Cat").show();
            $(".Animated").show();

        });
        $("#show-ron").click(function () {
            $(".Ron").show();
            $(".Cat").hide();
            $(".Animated").hide();

        });
        $("#show-cat").click(function () {
            $(".Ron").hide();
            $(".Cat").show();
            $(".Animated").hide();

        });
        $("#show-animated").click(function () {
            $(".Ron").hide();
            $(".Cat").hide();
            $(".Animated").show();

        });

        $('.remove-image').click(function () {
            $(this).closest('.image-unit').remove();
        });
        $('#upload-submit').click(function () {
            var title = $('#title').val(),
            url = $('#url').val(),
            description = $('#description').val(),
            genre = $('#genre').val();
            
            $('#main-content').append('                                                                                                          \
                <div class="' + genre + ' col-xs-12 col-sm-6 col-md-4 col-lg-3 image-unit">                                                              \
                                                                                                                                                        \
                <div class="image-box">                                                                                                                 \
                    <a class="remove-image" href="#">Delete</a>                                                                                         \
                    <div>                                                                                                                               \
                        <a href="'+url+'"><img class="image-frame" alt="' + title + '" src="'+url+'" /></a>         \
                    </div>                                                                                                                              \
                    <div class="title-box">                                                                                                             \
                        <p>' + title + '</p>                                                                                                              \
                        <p>' + genre + '</p>                                                                                                              \
                    </div>                                                                                                                              \
                </div>                                                                                                                                  \
                                                                                                                                                        \
            </div>'
                );
            $('#upload').modal('hide');
        });
        $(function () {
            var dialog, form,
              title = $("#title"),
              url = $("#url"),
              description = $("#description"),
              genre = $("#genre"),
              allFields = $([]).add(title).add(url).add(description).add(genre),
              tips = $(".validateTips");

            function updateTips(t) {
                tips
                  .text(t)
                  .addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
                      min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            function checkRegexp(o, regexp, n) {
                if (!(regexp.test(o.val()))) {
                    o.addClass("ui-state-error");
                    updateTips(n);
                    return false;
                } else {
                    return true;
                }
            }

            function addUser() {
                var valid = true;
                allFields.removeClass("ui-state-error");

                valid = valid && checkLength(title, "title", 3, 16);
                valid = valid && checkLength(url, "url", 6, 80);
                valid = valid && checkLength(description, "description", 0, 16);

                valid = valid && checkRegexp(title, /^[a-z]([0-9a-z_\s])+$/i, "Title may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");
                valid = valid && checkRegexp(description,/^[a-z]([0-9a-z_\s])+$/i, "Description may consist of a-z, 0-9, underscores, spaces and must begin with a letter.");

                if (valid) {
                    $('main-content').append('                                                                                                          \
                <div class="' + varG + ' col-xs-12 col-sm-6 col-md-4 col-lg-3 image-unit">                                                              \
                                                                                                                                                        \
                <div class="image-box">                                                                                                                 \
                    <a class="remove-image" href="#">Delete</a>                                                                                         \
                    <div>                                                                                                                               \
                        <a href="../../Images/'+ varU + ' "><img class="image-frame" alt="' + varT + '" src="../../Images/' + varU + ' " /></a>         \
                    </div>                                                                                                                              \
                    <div class="title-box">                                                                                                             \
                        <p>'+ varT + '</p>                                                                                                              \
                        <p>'+ varG + '</p>                                                                                                              \
                    </div>                                                                                                                              \
                </div>                                                                                                                                  \
                                                                                                                                                        \
            </div>'
                );
                    dialog.dialog("close");
                }
                return valid;
            }
        });

    </script>

    
</body>
</html>
